/* General */

html {
  width: 250px;
  height: 280px;
}

:root {
  color-scheme: light dark;
}

@media (prefers-color-scheme: light) {
  body {
    background-color: white;
    color: #2E2E2E;
  }
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: #2E2E2E;
    color: white;
  }
}

/* Top */

.top_part {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 250px;
  height: 65px;
}

.top_image_overlay_enabled,
.top_image_overlay_disabled,
.top_image_overlay {
  position: absolute;
  top: 0px;
  width: 100%;
  height: 100%;

  background-color: blue;

  mask-image: url('images/Top.png');
  mask-size: cover;
  mix-blend-mode: multiply;

  transition: 0.15s ease;
}

.top_image_overlay_enabled {
  background-color: #EFF09A;
  transition: 0.15s ease;
}

.top_image_overlay_disabled {
  background-color: #F0C8B9;
  transition: 0.15s ease;
}

/* Enable Button */

.enable_button {
  position: absolute;
  right: 30px;
  top: 16px;
  border-radius: 50%;

  width: 36px;
  height: 36px;

  transition: 0.15s ease;
}

.enable_button:hover {
  filter: brightness(75%);
  transition: 0.25s ease;
}

.enable_button:active {
  filter: brightness(65%);
  transition: 0.05s ease;
}

.enable_button_overlay_enabled,
.enable_button_overlay_disabled,
.enable_button_overlay {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  border-radius: 50%;

  background-color: blue;

  mask-image: url('images/Button.png');
  mask-size: cover;
  mix-blend-mode: multiply;

  transition: 0.15s ease;
}

.enable_button_overlay_enabled {
  background-color: #fdff6a;
  transition: 0.15s ease;
}

.enable_button_overlay_disabled {
  background-color: #ffa584;
  transition: 0.15s ease;
}

.enable_button_lable {
  position: absolute;
  left: 30px;
  top: 17px;

  font-size: 24;
  filter: invert(40%);
}

/* Bottom */

.bottom_part {
  position: absolute;
  top: 65px;
  left: 0px;
  width: 250px;
  height: 215px;
}

.bottom_image_overlay_enabled,
.bottom_image_overlay_disabled,
.bottom_image_overlay {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;

  background-color: blue;

  mask-image: url('images/Bottom.png');
  mask-size: cover;
  mix-blend-mode: multiply;

  transition: 0.15s ease;
}

.bottom_image_overlay_enabled {
  background-color: #EFF09A;
  transition: 0.15s ease;
}

.bottom_image_overlay_disabled {
  background-color: #F0C8B9;
  transition: 0.15s ease;
}

/* Options */

.options {
  position: absolute;
  top: 0px;
  left: 0px;
}

.option_checkbox {
  transform: scale(1.5);
  position: relative;
  left: 80px;

  transition: 0.15s ease;
}

.option_checkbox:active {
  filter: brightness(75%);
  transition: 0.05s ease;
}

.option_lable {
  position: relative;
  left: 10px;

  font-size: 18px;
  line-height: 2.5;
  filter: invert(40%);
}